package templates

templ App(page templ.Component, title string) {
  @head(title)
  <body class="bg-cover bg-center bg-cover bg-no-repeat bg-opacity">
    <div class="absolute inset-0 grid grid-cols-[4%_92%_4%] grid-rows-[5%_90%_5%] h-screen w-screen backdrop-blur-sm">
      @navbar()
      @content() { @page }
      @footer()
    </div>
  </body> 
}
