package templates

templ input(name string, autocomplete string, placeholder string) {
  <label for={ name } class="block text-gray-700 font-medium mb-2"></label>
  <input class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
    type={ name } 
    name={ name } 
    id={ name } 
    placeholder={ placeholder } 
    required="" 
    autocomplete={ autocomplete }/>
}
