package templates

templ textbox(title string) {
  <div class="bg-stone-100 rounded-xl shadow-2xl p-3 m-3 max-w-prose min-w-72 max-h-max size-fit">
    <div class="text-center font-merienda text-red-700">{ title }</div>
    <div class="text-center text-sm font-merienda">
      { children... }
    </div>
  </div>
}
